@{
    ViewBag.Title = "Principal";
}

<h2>Tela Principal da aplicação</h2>

<head>


</head>
<body>
    <form action="CadUsuario" method="POST">
        <fieldset>
            <p><input type="submit" value="Cadastro de Usuários" /></p>
            <p></p>
        </fieldset>
    </form>
    <form action="EnviarEmail" method="POST">
        <fieldset>
            <p><input type="submit" value="Enviar Email" /></p>
            <p></p>
        </fieldset>
    </form>
</body>


<a href="~/" title="Voltar">Voltar</a>